@font-face {
  font-family: 'Heebo';
  src: url('./fonts/Heebo-Light.woff2') format(woff2);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo';
  src: url('./fonts/Heebo-Bold.woff2') format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yantramanav';
  src: url('./fonts/Yantramanav-Bold.woff2') format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/**
  Нормализация блочной модели
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}


:where(ul, ol):where([class]) {
  padding-left: 0;
}


body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}


:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}


:where(ul[class]) {
  list-style: none;
}


img {
  display: block;
  max-width: 100%;
}


input,
textarea,
select,
button {
  font: inherit;
}

html {

  height: 100%;

  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --color-dark: #000;
  --color-light: #FFF;
  --color-dark-gray: #404040;
  --color-light-gray: #C4C4C4;

  --border-radius: 30px;
  --border: 1px solid var(--color-light);

  --font-family-base: 'Heebo', sans-sarif;
  --font-famile-accent: 'Yantramanav', sans-sarif;

  --input-height: 54px;
  --container-width: 1300px;
  --container-padding-x: 15px;

  --container-calc-with-padding: calc(var(--container-width) + (var(--container-padding-x) * 2))

  --transition-duration: 0.2s;

}


body {
  font-family: var(--font-family-base);
  background-color: var(--color-dark);
  color: var(--color-dark-gray);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
}


.container {
  max-width: var(--container-calc-with-padding);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}


h1, h2, h3, h3, h4, h5, h6 {
  font-weight: 700;
  text-transform: uppercase;
}

