@font-face {
  font-family: 'Heebo';
  src: url('./fonts/Heebo-Light.woff2') format(woff2);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo';
  src: url('./fonts/Heebo-Bold.woff2') format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yantramanav';
  src: url('./fonts/Yantramanav-Bold.woff2') format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(ul[class]) {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {

  height: 100%;

  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --color-dark: #000;
  --color-light: #FFF;
  --color-dark-gray: #404040;
  --color-light-gray: #C4C4C4;

  --border-radius: 30px;
  --border: 1px solid var(--color-light);

  --font-family-base: 'Heebo', sans-sarif;
  --font-famile-accent: 'Yantramanav', sans-sarif;

  --input-height: 54px;
  --container-width: 1300px;
  --container-padding-x: 15px;

  --container-calc-with-padding: calc(var(--container-width) + (var(--container-padding-x) * 2));

  --transition-duration: 0.2s;

}

a,
button,
input, 
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

body {
  font-family: var(--font-family-base);
  background-color: var(--color-dark);
  color: var(--color-dark-gray);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
}

.container {
  max-width: var(--container-calc-with-padding);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

h1, h2, h3, h3, h4, h5, h6 {
  font-weight: 700;
  text-transform: uppercase;
}

.button {
  display: inline-flex;
  align-items: center;
  height: 38px;
  padding-inline: 26px;
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: var(--color-light);
  border: none;
  border-radius: var(--border-radius);
}

.button:hover {
  background-color: var(--color-light-gray);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  padding-inline: 32px;
}

.header-logo {
  flex-shrink: 0;
}

.header-menu-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
}

a {
  color: var(--color-light);
}

a:hover {
  color: var(--color-dark-gray);
}

.header-menu-link {
  display: inline-flex;
  align-items: center;
  column-gap: 7px;
  height: 90px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.2px;
}

.header-menu-link.is-current::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: currentColor;
  border-radius: 50%;
}

.header-actions {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.header-burger-button {
  flex-direction: column;
  display: inline-flex;
  padding-left: 8px;
  justify-content: center;
  row-gap: 4px;
  width: 40px;
  color: var(--color-light);
  height: 40px;
  background-color: transparent;  
  border-radius: var(--border-radius);
  border: var(--border);
}

.header-burger-button-line {
  background-color: currentColor;
  width: 6px;
  height: 1px;
  box-shadow: 16px 0 0 currentColor;
}

.header-burger-button:hover {
  color: var(--color-light-gray);
  border-color: currentColor;
}

@media (max-width: 1024px) {
  .header {
    flex-wrap: wrap;
    padding-top: 20px;
    row-gap: 20px;
    padding-inline: 15px;
  }

  .header-menu {
    order: 1;
    flex-basis: 100%;
  }
  
  .header-menu-link {
    height: 50px;
  }
}

@media (max-width: 767px) {
  .header {
    padding-top: 10px;
  }
  .header-menu-list {
    column-gap: 15px;
  }
  .header-menu-link {
    height: 32px;
  }
}

@media (max-width: 400px) and (min-width: 320px) {
  .header-actions {
    column-gap: clamp(10px, calc(10px + (40 - 10) * ((100vw - 320px) / (400 - 320))), 40px);
  }

  .button {
    padding-inline: clamp(6px, calc(6px + (26 - 6) * ((100vw - 320px) / (400 - 320))), 26px);
  }
  
}
@media (max-width: 330px) {
  .header-menu-list {
    column-gap: 12px;
  }
}

@media (max-width: 320px) {
  .header-actions {
    column-gap: 10px;
  }

  .button {
    padding-inline: 6px;
  }
}