@font-face {
  font-family: 'Heebo';
  src: url('./fonts/Heebo-Light.woff2') format(woff2);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo';
  src: url('./fonts/Heebo-Bold.woff2') format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yantramanav';
  src: url('./fonts/Yantramanav-Bold.woff2') format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(ul[class]) {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {

  height: 100%;

  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --color-dark: #000;
  --color-light: #FFF;
  --color-dark-gray: #404040;
  --color-light-gray: #C4C4C4;
  --color-dark-alternate: #131619;

  --border-radius: 30px;
  --border: 1px solid var(--color-light);

  --font-family-base: 'Heebo', sans-sarif;
  --font-famile-accent: 'Yantramanav', sans-sarif;

  --input-height: 54px;
  --container-width: 1300px;
  --container-padding-x: 15px;

  --container-calc-with-padding: calc(var(--container-width) + (var(--container-padding-x) * 2));

  --transition-duration: 0.2s;
  --header-high: 90px

}


a,
button,
input, 
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

body {
  font-family: var(--font-family-base);
  background-color: var(--color-dark);
  color: var(--color-dark-gray);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container {
  max-width: var(--container-calc-with-padding);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.container-wide {
  max-width: 1920px;
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important; 
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

h1, h2, h3, h3, h4, h5, h6 {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-light);
}

p {
  margin-block: 0;
}

p:not([class]):not(:last-child) {
  margin-bottom: 24px;
}


.title-medium {
  font-size: clamp(20px, 2.08vw, 40px);
  line-height: 1.3;
}

.title-big {
  font-size: clamp(24px, 3.12vw, 60px)
}
.button {
  display: inline-flex;
  align-items: center;
  height: 38px;
  padding-inline: 26px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: var(--color-light);
  border: none;
  border-radius: var(--border-radius);
}

.button:hover {
  background-color: var(--color-light-gray);
}

.button.transparent {
  position: relative;
  height: var(--input-height);
  padding-left: 31px;
  padding-right: 80px;
  color: var(--color-light);
  background-color: transparent;
  border: var(--border);
  transition-duration: var(--transition-duration);
}

.button.transparent:hover {
  padding-inline: 56px;
}

.button.transparent::after {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  aspect-ratio: 1;
  border: var(--border);
  border-radius: 50%;
  background: url(./icons/arrow-in-button.svg) center/60% no-repeat;
}


.button.transparent:hover {
  background-color: var(--color-light);
  color: var(--color-dark);
  scale: 1.1;
}

.input {
  height: var(--input-height);
  padding-inline: 25px;
  width: 100%;
  color: var(--color-light);
  background-color: transparent;
  border: 1px solid var(--color-light-gray);
  border-radius: var(--border-radius);
}


.input::placeholder,
select.input:invalid {
  color: var(--color-light-gray);
}

.input:hover {
  border-color: var(--color-light);
}

.input:focus {
  color: var(--color-dark);
  background-color: var(--color-light-gray);
  outline: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  padding-inline: 32px;
  min-height: var(--header-high);
  background-color: var(--color-dark-alternate);
}

.header-logo {
  flex-shrink: 0;
}

.header-menu-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
}

a {
  color: var(--color-light);
}

a:hover {
  color: var(--color-dark-gray);
}

.header-menu-link {
  display: inline-flex;
  align-items: center;
  column-gap: 7px;
  height: var(--header-high);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.2px;
}

.header-menu-link.is-current::after {
  content: "";
  width: 5px;
  aspect-ratio: 1;
  background-color: currentColor;
  border-radius: 50%;
}

.header-actions {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.header-burger-button {
  flex-direction: column;
  display: inline-flex;
  padding-left: 8px;
  justify-content: center;
  row-gap: 4px;
  width: 40px;
  color: var(--color-light);
  aspect-ratio: 1;
  background-color: transparent;  
  border-radius: 50%;
  border: var(--border);
}

.header-burger-button-line {
  background-color: currentColor;
  width: 6px;
  height: 1px;
  box-shadow: 16px 0 0 currentColor;
}

.header-burger-button:hover {
  color: var(--color-light-gray);
  border-color: currentColor;
}

.banner {
  display: flex;
  justify-content: end;
  flex-direction: column;
  min-height: calc(100dvh - var(--header-high));
  padding-block: 36px;
  padding-inline: clamp(15px, 3.64vw, 70px);
  color: var(--color-light);
  background-color: var(--color-dark-alternate);
}

.banner-body {
  text-transform: uppercase;
}

.banner-info {
  display: flex;
  align-items: end;
  font-size: clamp(16px, 1.56vw, 30px);
  line-height: 1.27;
  font-weight: 700;
}

.banner-info::before {
  content: "";
  width: clamp(60px, 10.1vw, 194px);
  aspect-ratio: 1;
  margin-right: 30px;
  background: url(./icons/arrow.svg) center/contain no-repeat;
}

.banner-title {
  font-size: min(18.75vw, 360px);
  line-height: 1;
}

.banner-pagination-list {
  display: flex;
  justify-content: center;
  column-gap: 14px;
}

.banner-pagination-item {
  display: flex;
}

.banner-pagination-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  background-color: transparent;
  border: none;
}

.banner-pagination-button::after {
  content: '';
  width: 10px;
  aspect-ratio: 1;
  border: var(--border);
  border-radius: 50%;
  transition-duration: var(--transition-duration);
}

.banner-pagination-button.is-current::after {
  background-color: var(--color-light);
}

.banner-pagination-button:not(.is-current):hover::after {
  border-color: var(--color-light-gray);
}

.motivation-item:nth-child(even) {
  background-color: var(--color-dark-alternate);
}

.motivation-card {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: clamp(30px, 10.42vw, 200px);
}

.motivation-item:nth-child(even) .motivation-card {
  flex-direction: row-reverse;
}

.motivation-card-image {
  margin-block: -60px;
}

.motivation-card-body {
  padding-left: 35px;
}

.backdrop-title {
  position: relative;
  z-index: 2;
}

.backdrop-title::before {
  content: "";
  display: block;
  position: absolute;
  right: calc(100% + 8px);
  width: 26px;
  aspect-ratio: 1;
  background: url('./icons/plus.svg') center/contain no-repeat;
}

.backdrop-title::after {
  content: attr(data-title);
  font-family: var(--font-famile-accent);
  position: absolute;
  z-index: -1;
  top: -0.3em;
  left: -0.6em;
  font-size: 2.8em;
  color: transparent;
  -webkit-text-stroke: 1px var(--color-dark-gray);
  text-stroke: 1px var(--color-dark-gray);
  line-height: 1;
}

.backdrop-title.centered::after {
  top: -0.25em;
  left: 50%;
  translate: -50% 0;
}


.motivation-card-title:not(:last-child) {
  margin-bottom: 14px;
}

.motivation-card-description {
  max-width: 400px;
}

.motivation-card-description:not(:last-child) {
  margin-bottom: 37px;
}

.training-types {
  position: relative;
  background-color: var(--color-dark);
  padding-top: 70px;
  padding-bottom: 120px;
}

.training-types-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 60px;
}

.training-types-item {

  --trainingTypesItemBgIconSize: 80px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: var(--trainingTypesItemBgIconSize);
  row-gap: 32px;
  background: url('./icons/arrow-left.svg') 100% 0/var(--trainingTypesItemBgIconSize) no-repeat;
}

.training-types-item-title {
  font-size: 16px;
  text-transform: uppercase;
}

.join-us {
  background-color: var(--color-dark-alternate);
}

.join-us-video-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 150px 30px;
  background: url(./images/join-us-background.jpg) center/cover no-repeat var(--color-dark-alternate);
}

.join-us-video {
  width: 100%;
  max-width: 960px;
  height: auto;
}

.join-us-video-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  translate: -50% -50%;
  width: 200px;
  font-size: 14px;
  column-gap: 4px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-light);
  aspect-ratio: 1;
  background-color: transparent;
  border: var(--border);
  border-radius: 50%;
}

.join-us-video-play-button::after {
  content: "";
  width: 26px;
  aspect-ratio: 1;
  background: url('./icons/arrow-in-button.svg') center/contain no-repeat;
}

.join-us-video-play-button:hover {
  color: var(--color-dark);
  background-color: var(--color-light);
}
 
.join-us-video-play-button:hover::after {
  filter: invert(1);
}

.join-us-body {
  padding-bottom: 150px;
}

.join-us-title {
  position: relative;
  margin-top: -0.4em;
  font-size: clamp(64px, 9.37vw, 180px);
  line-height: 1;
  text-align: center;
}

.join-us-title::after {
  content: '';
  height: 0.7em;
  display: inline-block;
  margin-left: 0.14em;
  background: url('./icons/arrow.svg') center/contain no-repeat;
  aspect-ratio: 1;
  scale: 1 -1;
}

.join-us-title:not(:last-child) {
  margin-bottom: 130px;
}

.join-us-form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7;
}

.join-us-form-header:not(:last-child) {
  margin-bottom: 52px;
}

.section-description {
  font-size: 20px;
  line-height: 1.65;
  text-transform: uppercase;
  color: var(--color-light);
  text-align: center;
}

.join-us-form-subtitle {
  font-size: 20px;
  line-height: 1.65;
  text-transform: uppercase;
  color: var(--color-light);
  text-align: center;
}

.join-us-form-body {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.join-us-form-input {
  max-width: 400px;

}


.location {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.location-img {
  height: auto;
}

.location-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 80px 15px;
}

.location-descrition {
  max-width: 490px;
}

.location-title:not(:last-child) {
  margin-bottom: 14px;
}
.location-description:not(:last-child) {
  margin-bottom: 37px;
  color: var(--color-light-gray);
  max-width: 490px;
}

.family {
  background-color: var(--color-dark-alternate);
}

.family-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 132px;
  padding-bottom: 62px;
}

.family-body {
  display: flex;
  justify-content: center;
  column-gap: 26px;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
}

.family-image {
  scroll-snap-align: start;
}

.calculate {
  background-color: var(--color-dark-alternate);
  padding-block: 146px;
}

.calculate-inner {
  display: flex;
  align-items: center;
  column-gap: 36px;
}

.calculate-body {
  flex-grow: 1;
  max-width: 627px;
}

.calculate-title:not(:last-child) {
  margin-bottom: 16px;
}

.calculate-description:not(:last-child) {
  margin-bottom: 30px;
}

.calculate-description {
  max-width: 385px;
}

.calculate-form-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px 30px;
}

.calculate-input.wide {
  grid-column: -1 / 1;
}

.calculate-form-body:not(:last-child) {
  margin-bottom: 26px;
}

.calculate-table-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 610px;
}

.calculate-table-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  aspect-ratio: 1;
  background-color: var(--color-dark);
  border-radius: 50%;
}

.calculate-table {
  position: relative;
  color: var(--color-light-gray);
  border-collapse: collapse;
}
.calculate-table .b {
  font-weight: 700;
}

.calculate-table th {
  color: var(--color-light);
  padding-block: 20px;
  text-align: left;
  text-transform: uppercase;
}

.calculate-table td {
  padding-block: 14px;
}

.calculate-table tfoot td {
  padding-bottom: 0;
  padding-top: 33px;
  color: var(--color-light);
}

.calculate-table :is(td, th) {
  padding-right: 30px;
}

.calculate-table :is(td, th):not(:first-child) {
  padding-left: 30px;
}

.calculate-table :is(td, th):not(:last-child) {
  border-right: 1px solid var(--color-light-gray);
}

.calculate-table tbody td {
  border-top: 1px solid var(--color-light-gray);
}

.calculate-table tbody tr:last-child td:first-child {
  position: relative;
} 

.calculate-table tbody tr:last-child td:first-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1px;
  background-color: var(--color-light-gray);
}

@media (max-width: 1919px) {
  .motivation-card-image {
    margin-block: -20px;
  }
}

@media (max-width: 1280px) {
  .training-types-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

@media (max-width: 1024px) {
  .header {
    flex-wrap: wrap;
    padding-top: 20px;
    row-gap: 20px;
    padding-inline: 15px;
  }

  .header-menu {
    order: 1;
    flex-basis: 100%;
  }
  
  .header-menu-link {
    height: 50px;
  }

  .banner {
    row-gap: 20px;
  }

  .motivation-card-image {
    max-width: 30%;
    height: auto;
    margin-block: 0;
  }

  .motivation-card {
    padding-block: 50px;
  }

  .join-us-body {
    padding-bottom: 80px;
  }

  .join-us-title:not(:last-child) {
    margin-bottom: 80px;
  }
  .location {
    display: flex;
    flex-direction: column-reverse;
  }

  .family-image {
    height: 360px;
  }
  .calculate {
    padding-block: 100px;
  }
  .calculate-inner {
    column-gap: 20px;
  }
  .calculate-form-body {
    grid-template-columns: 1r;
  }
  .calculate-button {
    width: 100%;
  }
  .calculate-table :is(td, th) {
    padding-block: 10px;
  }
  .calculate-table tfoot td {
    padding-top: 10px;
  }
}

@media (max-width: 767px) {
  .header {
    padding-top: 10px;
  }
  .header-menu-list {
    column-gap: 15px;
  }
  .header-menu-link {
    height: 32px;
  }
  .banner-info::before {
    margin-right: 10px;
  }
  .banner-info {
    margin-bottom: 5px;
  }

  .motivation-card,
  .motivation-item:nth-child(even) .motivation-card {
    flex-direction: column-reverse;
  }

  .motivation-card {
    row-gap: 30px;
    padding-block: 30px;
  }

  .motivation-card-image {
    max-width: 60%;
  }

  .motivation-card-description:not(:last-child) {
    margin-bottom: 20px;
  }
  .training-types-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .training-types-item {
    --trainingTypesItemBgIconSize: 50px;
    row-gap: 10px;
  }

  .training-types-image {
    max-width: 120px;
  }

  .join-us-video-play-button {
    width: 140px;
  }

  .join-us-title:not(:last-child) {
    margin-bottom: 40px;
  }

  .join-us-form-subtitle {
    font-size: 16px;
  }

  .join-us-form-body {
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
  }

  .location-body {
    padding-block: 40px;
  }
  .location-description:not(:last-child) {
    margin-bottom: 20px;
  }
  .family-image {
    height: 180px;
  }
  .family-header {
    padding-top: 80px;
    padding-bottom: 50px;
  }
  .family-body {
    column-gap: 12px;
  }
  .calculate-inner {
    flex-direction: column;
    row-gap: 30px;
  }
  .calculate-table-wrapper::before {
    display: none;
  }
  .calculate {
    padding-block: 60px;
  }
}



@media (max-width: 400px) and (min-width: 320px) {
  .header-actions {
    column-gap: clamp(10px, calc(10px + (40 - 10) * ((100vw - 320px) / (400 - 320))), 40px);
  }

  .button {
    padding-inline: clamp(6px, calc(6px + (26 - 6) * ((100vw - 320px) / (400 - 320))), 26px);
  }
  
}
@media (max-width: 330px) {
  .header-menu-list {
    column-gap: 12px;
  }
}

@media (max-width: 320px) {
  .header-actions {
    column-gap: 10px;
  }

  .button {
    padding-inline: 6px;
  }
}
